.env

venv/
env/

ai/

data/raw/
data/processed/
*.zip

models/weights/
models/evaluation/
*.h5
*.onnx
*.pt
*.pth
*.keras

__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

*.log

/pipelines

*.html